/* body */
body {
    background-color: rgb(130, 47, 163);
    margin: 0;
}

/* wrapper */
.wrapper {
    margin: 0 auto;
    width: 80%;
}

/* header */
.header {
    background-color: rgb(167, 106, 167);
    padding: 30px;
}
.header .logo {
    background-color: rgb(137, 28, 151);
    display: inline-block;
    font-size: 48px;
    padding: 15px 50px;
    text-transform: uppercase;
}

/* navigation */
.navigation {
    background-color: rgb(134, 21, 138);
}

.navigation ul {
    margin: 0;
    padding-left: 0;
}

.navigation li {
    display: inline-block;
    padding: 15px 25px;
}

.navigation a {
    color: rgb(76, 4, 109);
    text-decoration: none;
    text-transform: uppercase;
}

/* main */
.main {
    background-color: rgb(160, 89, 160);
    float: left;
    min-height: 600px;
    width: 70%;
}

.main h1 {
    padding-left: 35px;
}

.main p {
    padding: 5px 35px;
}

/* sidebar */
.sidebar {
    background-color: rgb(86, 51, 212);
    float: left;
    min-height: 600px;
    width: 30%;
}

.sidebar h2 {
    padding-left: 40px;
}

/* footer */
.footer {
    clear: left;
    background-color: rgb(111, 6, 172);
    font-size: 14px;
    padding: 9px 0;
}

.footer p {
    margin: 0;
    color: #FFFFFF;
    padding-left: 35px;
}